HelloWorld_CGI/Schemas/Input_CGI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Input" xmlns:tns="http://www.example.org/Input" elementFormDefault="qualified">

    <element name="InputData" type="tns:Name"></element>
    
    <complexType name="Name">
    	<sequence>
    		<element name="FirstName" type="string"></element>
    		<element name="LastName" type="string"></element>
    	</sequence>
    </complexType>
</schema>