HelloWorld_CGI/Schemas/Output_CGI.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Output" xmlns:tns="http://www.example.org/Output" elementFormDefault="qualified">

    <element name="Output" type="tns:sayHello"></element>
    
    <complexType name="sayHello">
    	<sequence>
    		<element name="Message" type="string"></element>
    	</sequence>
    </complexType>
</schema>